<div class="banner">
	<p>Me Learning JQuery</p>
</div>

<div class="learning-list-header">

	<div class="book-version">
		<p>Book</p>
	</div>

	<div class="my-version">
		<p>My JQuery</p>
	</div>

	<div class="opal-version">
		<p>Opal</p>
	</div>

</div>

<div class="learning-list-rows" id="row-1">

	<div class="book-version">
		<p>
			<%= link_to 'Can you book my intro?', book_intro_path %>
		</p>
	</div>

	<div class="my-version">
		<p>
			<%= link_to 'Who will introduce me?', root_path %>
		</p>
	</div>

	<div class="opal-version">
		<p>
			<%= link_to 'Then what about opal?', root_path %>
		</p>
	</div>

</div>

<div class="learning-list-rows" id="row-2">

	<div class="book-version">
		<p>
			<%= link_to 'A selection of books!', book_selector_path %>
		</p>
	</div>

	<div class="my-version">
		<p>
			<%= link_to 'What about my selection?', root_path %>
		</p>
	</div>

	<div class="opal-version">
		<p>
			<%= link_to 'I prefer the opal selection', root_path %>
		</p>

	</div>

</div>


