<!DOCTYPE html>
<html>
<head>
	<title>Me Learning JQuery</title>

	<!--Calling a helper method-->
	<% controller_action_asset = concatenate_controller_action(controller_name, action_name) %>
	<%= stylesheet_link_tag 'application', concatenate_controller_action, media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', concatenate_controller_action, 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>

	<!--Refer to the Readme in images/Favicon for more details-->
	<!--Apple Related Favicons-->
	<% apple_icon_sizes_array = [57, 60, 72, 76, 114, 120, 144, 152] %>
	<% apple_icon_sizes_array.each do |size| %>
			<% size_squared = "#{size}x#{size}" %>
			<link rel="apple-touch-icon-precomposed" sizes="<%= size_squared %>"
			      href="<%= image_path("Favicon/apple-touch-icon-#{size_squared}.png") %>"/>
	<% end %>

	<!--Other Browser Related Favicons-->
	<% other_icon_sizes_array = [16, 32, 96, 128, 196] %>
	<% other_icon_sizes_array.each do |size| %>
			<% size_squared = "#{size}x#{size}" %>
			<link rel="icon" type="image/png" sizes="<%= size_squared %>"
			      href="<%= image_path("Favicon/favicon-#{size_squared}") %>"/>
	<% end %>

	<!--Microsoft Related Favicons-->
	<meta name="application-name" content="&nbsp;"/>
	<meta name="msapplication-TileColor" content="#FFFFFF"/>
	<% microsoft_icon_sizes_array = [70, 144, 150, 310] %>
	<% microsoft_icon_sizes_array.each do |size| %>
			<% size_squared = "#{size}x#{size}" %>
			<meta name=<%= "msapplication-square#{size_squared}logo" %>
					      content="<%= image_path("Favicon/mstile-#{size_squared}.png") %>"/>
	<% end %>

</head>
<body>
<%= yield %>

</body>
</html>
