<!DOCTYPE html>
<html>
<head>
  <title>Me Learning JQuery</title>

  <!--Calling a helper method-->
  <% link_to %>
  <% controller_action_asset = concatenate_controller_action(controller_name, action_name) %>
  <%= stylesheet_link_tag 'application', concatenate_controller_action, media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', concatenate_controller_action, 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>


  <!--Refer to the Readme in images/Favicon for more details-->
  <!--Apple Touch Related Icons-->
  <%= apple_icons %>

  <!--Browser Related Favicons-->
  <%= browser_favicons %>

  <!--Microsoft Related Favicons-->
  <%= microsoft_icons %>

</head>
<body>
<%= yield %>

</body>
</html>
